/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

body{
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;

}



*,
*::before,
*::after {
	box-sizing: border-box;
}


/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

.modals{
    width: 506px;
    padding: 60px 50px;
}

.modals div > p{
	text-align: left;
}
* {
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: auto;
}

/* Стили для стрелок Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #a45b38 !important;
  background: #ffffff !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
  border: 1px solid rgba(164, 91, 56, 0.2) !important;
}

.product__main_swiper .swiper-slide {
  border: none !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #a45b38 !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

/* Стили для активных слайдов в галерее */
.swiper-slide-thumb-active {
  border: 1px solid #a45b38 !important;
}

.button {
  width: 32px;
  height: 32px;
  border: none;
  background: white;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.button.fullscreen::before {
  content: '⤢';
}

.button.exit-fullscreen::before {
  content: '⤓';
}

.swiper-slide-active {
  border: 1px solid #a45b38 !important;
}

/* Стили для неактивных слайдов */
.swiper-slide:not(.swiper-slide-thumb-active) {
  border: 2px solid transparent !important;
}




@media (max-width: 768px) {
  .swiper-thumbs .swiper-slide {
    width: 22%;
  }
  }