.promo_container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 245px;
  padding-bottom: 245px;
}

.promo {
  background-size: cover;
}

.loadingScreen{
  width: 100%;
  height: 100vh;
  background: #fff;
}

.promo__title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.promo__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  display: flex;
  gap: 90px;
  align-items: center;
  padding: 15px 30px;

  background: #A45B38;
  border: 1px solid #fff;
  transition: 0.2s;
}

.promo__button:hover{
  background: #fff;
  color:#A45B38
}

.promo__button path {
  fill: #fff;
}


.promo__button:hover path {
  fill: #A45B38;
}

.section__container{
  max-width: 1720px;
  margin: 50px auto 0;
  display: flex;
  padding: 0 20px;
}

.section__image{
  max-width: 840px;
  width: 100%;
  border: 1px solid #c1a286;
  
  text-align: center;
}

.section__content{
  border-bottom: 1px solid #c1a286;
  border-right: 1px solid #c1a286;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: center;
  border-top: 1px solid #c1a286;
}

.section__title{
  font-family: "Tenor Sans", sans-serif;
font-weight: 400;
font-size: 32px;
text-align: center;
color: #323433;

}

.section__button{
  border: 1px solid #c1a286;
  border-right: none;
  border-left: none;
  padding: 15px 21px 15px 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  text-align: center;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  color: #c1a286;
  background: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}


.section:nth-child(2) .section__button{
  position: absolute;
}

.section__links{

  display: flex;
  width: 100%;

}

.section:nth-child(2) img{
  height: 850px;
}

.section:nth-child(4) img{
  height: 850px;
}

.section__link{
  max-width: 1720px;
  margin: 0 auto;
  
}

.section__row h2{
  color:#fff;
}

.section__container:hover h2{
  color:#A45B38;
}

.section__container:hover .section__row h2{
  color:#fff;
}


.about__image img{
  height: 353px;
  object-fit: cover;
  object-position: center;
}



.section:nth-child(4) .section__button{
  position: absolute;
}


.section:nth-child(2)  .section__button{
  border-bottom: none;
}

.section__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}


.section__container .section__content:hover .section__button {
  background: #A45B38;
  color: #fff;
}

.section__container .section__row:hover .section__button {
  background: #A45B38;
  color: #fff;
}

.section__container{
  cursor: pointer;
}

.section__link:hover .section__button path {
  fill: #fff;
}

.section:nth-child(3) .section__container{
  padding-top: 0;
  margin-top: 0;
  display: flex;
}

.section__content{
  flex: 1 1 100%;
}

.section:nth-child(3)  .section__image{
  border-left: 1px solid #c1a286;
border-right: 1px solid #c1a286;
position: relative; 

}

.section:nth-child(3) .section__button{
  border-left: 1px solid #c1a286;
  border-right: 1px solid #c1a286;
}

.section:nth-child(3) .section__row:nth-child(2) .section__button{
  border-left: none;
}

.section:nth-child(3)  .section__image h2{
  position: absolute;
  bottom: 33px;
  left: 30px;
}

.section:nth-child(3) .section__row:nth-child(2)  .section__image{
  border-left: none;
}

.section__row{
  flex: 1;
  position: relative;
}

.section:nth-child(4) .section__container{
  padding-top: 0;
  margin-top: 0;
}

.section:nth-child(4) .section__image{
  border-top: none;
}
  

.section:nth-child(4) .section__content{
  border-top: none;
}


.section:nth-child(3) .section__image img{
  height: 400px;
}
  

.section:nth-child(3) .section__image img{
  height: 500px;
}
  
.section:nth-child(3) .section__content{

}


.section:nth-child(2) .section__content{
  max-width: 500px;
}


.section:nth-child(4) .section__content{
  max-width: 500px;
}


.section:nth-child(2) .section__image{
  max-width: 100%;
}

.section:nth-child(4) .section__image{
  max-width: 100%;
}
  


.about__container{
  max-width: 1720px;
  margin: 100px auto 0;
  padding: 0 20px;

}

.about__title{
  font-family: "Tenor Sans", sans-serif;
font-weight: 400;
font-size: 50px;
color: #323433;
margin-bottom: 40px;
}

.about__row{
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}


.about__content{
 flex: 1 1 100%;
}

.about__text{
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #323433;
margin-bottom: 20px;
}

.about__features{
  display: flex;
  gap: 20px;
}

.section__image img{
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.image_container {
  position: relative;
  width: 100%;
}

.base_image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.hover_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.hover_image_active {
  opacity: 1;
}

.section__row:hover .base_image {
  opacity: 0;
}

.section__row:hover .hover_image {
  opacity: 1;
}

.section__row:hover .section__button {
  background: #A45B38;
  color: #fff;
}

.section__row:hover .section__button path {
  fill: #fff;
}

.section__image {
  margin-bottom: -1px;
}

.section__content{
  margin-bottom: -1px;  
}


.section__button{
  margin-bottom: -1px;
}

.section__row{
  margin-bottom: -1px;
}

.about__feature_number{
  font-family: "Tenor Sans", sans-serif;
font-weight: 400;
font-size: 24px;
color: #fff;
width: 50px;
height: 50px;
display: flex;
flex-shrink: 0;
align-items: center;
justify-content: center;
background: #c1a286;
border-radius: 50%;
}

.about__feature{
  display: flex;
  gap: 20px;
  align-items: center;
}

.about__features{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.about__feature_title{
  font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 18px;
line-height: 150%;
color: #c1af86 !important;
margin-bottom: 5px;
}

.about__feature_text{
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #323433;
}

.about__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__row:nth-child(3) .about__content{
  width: 100%;
  align-items: center;
}



.about__row:nth-child(3){
  align-items: center;
  justify-content: space-between;
}

.about__stat{
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}


.about__image img{
  width: 100%;
}




.about__stats{
  display: flex;
  justify-content: space-between;
}

.about__stat_number{
  font-family: "Tenor Sans", sans-serif;
font-weight: 400;
font-size: 50px;
line-height: 150%;
color: #c1a286;
}

.about__features h3{
  font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 18px;
line-height: 150%;
color: #323433;
}

.about__stat_text{
  font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 18px;
line-height: 150%;
color: #c1af86;
}

.delivery__container{
  max-width: 1720px;
  margin: 100px auto 0; 
  padding: 0 20px;
}

.delivery__header{
  display: flex;
  justify-content: space-between;
}

.delivery__title{
  font-family: "Tenor Sans", sans-serif;
font-weight: 400;
font-size: 50px;
color: #323433;
}

.delivery__text{
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
max-width: 904px;
line-height: 150%;
color: #323433;
}

/* Добавьте эти стили в ваш файл page.module.css */






.delivery__slider_controls {
  display: flex;
  align-items: center;
  width: 320px;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: auto;
}

.delivery__arrow {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: opacity 0.3s;
}

.delivery__arrow:nth-child(1){
  transform: rotate(180deg);
} 

.delivery__arrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.delivery__progress {
  flex-grow: 1;
  height: 2px;
  background-color: rgba(193, 175, 134, 0.3);
  margin: 0 15px;
  position: relative;
  border-radius: 1px;
}

.delivery__progress_indicator {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #A45B38;
  top: 0;
  left: 0;
  transition: left 0.3s ease;
  border-radius: 2px;
}

.delivery__slider_container {
  overflow: hidden;
  position: relative;
}

.delivery__slider {
  display: flex;
  transition: transform 0.5s ease;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.delivery__slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.delivery__slide {
  flex: 0 0 calc(33.333% - 15px);
  margin-right: 20px;
  border: 1px solid #c1a286;
  padding: 30px;
}

.delivery__slide_icon {
  margin-bottom: 150px;
}

.delivery__slide_title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 31px;
  margin-bottom: 10px;
  color: #c1a286;
}

.delivery__slide_text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #323433;
}

.delivery__blocks {
  display: flex;
  gap: 80px;
  margin-top: 40px;
  justify-content: space-between;
  background: #778379;
  padding: 101px 98px;
  max-width: 1720px;
  margin-left: auto;
  margin-right: auto;
}

.delivery__block {
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.delivery__block_icon {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delivery__block_title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.17;
  color: #fff;
  text-align: center;
  margin: 0;
}

.delivery__block_text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 0;
}


.payment__container{
  max-width: 1720px;
  margin: 100px auto 0;
  padding: 0 20px;
}

.payment__title{
  font-family: "Tenor Sans", sans-serif;
font-weight: 400;
margin-bottom: 40px;
font-size: 50px;
color: #323433;
}



  
.payment__option{
  border: 1px solid #c1a286;
padding: 30px;  
}

.payment__row{
  display: flex;
  gap: 20px;
}

.payment__option{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  flex: 1 1 100%;
}


.payment__option_title{
  font-family: "Tenor Sans", sans-serif;
font-weight: 400;
font-size: 32px;
color: #c1a286;

}

.payment__option_text{
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #323433;
}

.payment__icon{
  width: 75px;
  flex-shrink: 0;
}

.payment__support{
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: rgba(50, 52, 51, 0.6);
margin-top: 20px;
}

.payment__support a{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(50, 52, 51, 0.6);
}

@media screen and (max-width: 768px) {
  .payment__row{
    flex-direction: column;
  }

  .promo__title{
    font-size: 26px;
  }

  .promo__button {
    font-size: 14px;
    gap: 8px;
    padding: 16px;
  }

  .promo{
    background-position: center;
  }

  .promo_container{
    padding: 163px 0;
  }

  .delivery__header{
    flex-direction: column;
  }

  .about__stats{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center !important;
    align-items: center !important;
  }

  .about__stat:nth-child(1){
    order: 1;
  }

  .about__stat:nth-child(2){
    order: 3;
  }

  .about__stat{
    align-items: center !important;
  }

  .delivery__container {
 margin: 20px auto 0;

  }

  .delivery__title{
    font-size: 24px;
    margin-bottom: 20px;
  }

  .delivery__text{
    font-size: 14px;
  }

  .delivery__slider_controls{
width: 100%;
  }

  .delivery__slider_container{
    flex-direction: column;
  }

  .delivery__slider{
    flex-direction: column;
    margin-top: 20px;
 

  }


 
  .about__stat:nth-child(3){
    order: 2;
  }

  .delivery__slide_icon{
    margin: 0;
    width: 40px;
    height: 40px;
  }




  .delivery__slide{
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 16px  !important;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
 

  }

  .payment__container{
    margin-top: 60px;
  }

  .payment__title{
    font-size: 24px;
    margin-bottom: 20px;
  }

  .payment__row{
    flex-direction: column;
  }

  .payment__option{
    flex-direction: row;
    gap: 20px;
    padding: 16px;
  }

  .payment__option_title{
    font-size: 20px;
    margin-bottom: 0;
  }

  .payment__option_text{
    font-size: 14px;
  }

  .payment__icon{
    width: 40px;
  }

  .payment__support{
    font-size: 12px;
  }

  .delivery__slide_title{
    font-size: 20px;
    margin-bottom: 0;
  }

  .delivery__slide_text{
    font-size: 14px;
  }

  .delivery__blocks{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    padding: 20px 20px;
  }

  .delivery__block_icon{
    width: 35px;
    height: 35px;
  }

  .delivery__block{
    width: 100%;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .delivery__block_title{
    font-size: 20px;
  }

  .delivery__block_text{
    font-size: 14px;
    text-align: left;
  }

  

  .section__title{
    font-size: 20px;
    padding: 16px !important;
    inset: 0 !important;
    text-align: left;
    border-bottom: 1px solid #c1a286 !important;
    position: relative !important;
  }

  .section__row:nth-child(1) .section__title{
    border-top: 1px solid #c1a286 !important;
    border-bottom: none !important;
  }

  .section__row:nth-child(2) .section__title{
    border-top: 1px solid #c1a286 !important;
    border-bottom: none !important;
  }

  .section__row:nth-child(1) .section__button{
    border-left: 1px solid #c1a286 !important;
    border-right: 1px solid #c1a286 !important;
  }

  .section__row:nth-child(2) .section__button{
    border-left: 1px solid #c1a286 !important;
    border-right: 1px solid #c1a286 !important;
  }

  .section:nth-child(3) .section__row:nth-child(2)  .section__image{
    border-left: 1px solid #c1a286 !important;
  }


  .section__image{
    padding: 0 !important;
  }

  .section__button{
    position: relative !important;
    font-size: 14px;
    padding: 16px;
    border-bottom: 1px solid #c1a286 !important;

    border-top: none !important;
    inset: 0 !important;
  }

  .section__content{
    border-bottom: none;
    border-top: none;
    padding: 0;
    border-left: 1px solid #c1a286; 
    border-right: 1px solid #c1a286 !important;

  }

  .section__image img{
    height: 320px !important;
    object-fit: cover !important;
    object-position: center !important;

  }

  .about__image img{
    height: 148px;
  }


.section__row h2{
  color:#000;
}

  .section__row{
    padding: 20px 0 0;
  }

  .section:nth-child(4) {
    padding-top: 20px;
  }

  .section:nth-child(4) .section__image{
  
    border-top: 1px solid #c1a286 !important;
  }

  .section__image img{
    height: 100%;
    object-fit: contain;
  }

  .section__container{
    flex-direction: column;
  }
  

  .about__row:nth-child(3){
    flex-direction: column-reverse;
  }
  

  .about__title{
    font-size: 24px;
    margin-bottom: 30px;
  }

  .about__row{
    flex-direction: column;
    margin-bottom: 16px;

  }


.about__stat_number{
  font-size: 36px;
}



  
  .about__text{
    font-size: 16px;
  }

  .about__image{
    max-width: 100%;
  }

  .about__features h3{
    font-size: 14px;
  }

  .about__stat_text{
    font-size: 14px;
  }
  .about__feature_text{
    font-size: 14px;
  }

  .about__feature_number{
    width: 40px;
    height: 40px;
    font-size: 20px;
  }


  
}

.section__link:hover .base_image {
  opacity: 0;
}

.section__link:hover .hover_image {
  opacity: 1;
}

.section__link:hover .section__button {
  background: #A45B38;
  color: #fff;
}

.section__link:hover .section__button path {
  fill: #fff;
}

