.promo_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 245px;
  padding-bottom: 245px;
}

.promo {
  background-image: url("/main.png");
  background-size: cover;
}

.promo__title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.promo__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #a45b38;
  display: flex;
  gap: 90px;
  align-items: center;
  padding: 15px 30px;

  background: #fff;
  transition: 0.2s;
}

.promo__button:hover{
  background: #c1a286;
  color:#fff
}

.promo__button:hover path {
  fill: #fff;
}
